/* Page-specific styling */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #E9EEF1;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
