/* Page-specific styling */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #E9EEF1;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #25BDFF !important;
    border-radius: 3px;
}

.btn:hover {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #0094D1 !important;
    border-radius: 3px;
}
